@model mvc.Models.Marketer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Marketer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.optstartdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.optstartdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.optstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.optstatus)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index") 
        </div>
    }
</div>
